<%= will_paginate @accesses, :remote => true %>

<div class="container">
  <% @accesses.each do |access| %>
      <%= content_tag_for(:div, access, :class=>:card) do %>
          <div class="user">
            <%= avatar_for access.company %>
            <%= role_label access %>
          </div>
          <div class="info">
            <h3><%= access.company.name %></h3>
            <p>Other info<br/>More info<br/>Other more<br/>
              <%= link_to t('action.access'), access.company.main_url %> |
            </p>
          </div>
      <% end %>
  <% end %>
</div>

<%= will_paginate @accesses, :remote => true %>