<% if timetrack && timetrack.is_a?(Timetrack) %>
    <h4 class="timetrack"><%= timetrack.activity %></h4>
    <div class="head">
      <%= head_label :by, nice_access(timetrack.access, :company => true) %>
      <%= head_label :status, timetrack_status(timetrack) %>
      <%= head_label :created_at, nice_date(timetrack.created_at, :nice, :time_ago => true) %>
      <%= head_label :tracked_at, nice_date(timetrack.tracked_at, :nice) %>
      <%= head_label :hours, timetrack_hours(timetrack) %>
      <% if timetrack.confirmed? %>
          <%= head_label :confirmed_at, nice_date(timetrack.confirmed_at, :nice, :time_ago => true) %>
          <%= head_label :confirmed_by, nice_access(timetrack.confirmed_by_access) %>
      <% end %>
    </div>
    <p>
      <%= nice_text timetrack.body %>
    </p>
    <div class="footer">
      <%= head_label :go_to, link_to_resource(timetrack) %>
      <%= head_label :go_to, link_to_resource(timetrack.trackable) %>
    </div>
<% end %>
