<!DOCTYPE html>
<html>
<head>
  <title>Suh</title>
  <%= stylesheet_link_tag "application", :media => :all %>
  <%= stylesheet_link_tag "print", :media => :print %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<section id="page">
  <%= yield %>
</section>

</body>
</html>